<div class="zamp-tax-main-page">
	<div class="zamp-page">
		<div class="zamp-page__body">
			<header class="zamp-page__head-area">
				<div class="zamp-page__smart-bar">
					<div class="zamp-navigation">
						<a href="#/sw/extension/my-extensions/listing/app?limit=25&amp;page=1" class="zamp-navigation__link">
							&#x2B05; &emsp; {{ $tc('buttons.back') }}</a>
					</div>
					<div class="zamp-content">
						<div class="zamp-page__module-info">
							<div class="zamp-page__module-icon">
								<div class="zamp-extension-icon">
									<img class="zamp-extension-icon__icon" :src="assetFilter('/zamptax/Zamp-Logo.png')" alt="Zamp Logo" width="180">
								</div>
							</div>
						</div>
						<div class="zamp-page__actions">
							<p class="zamp-contact-text" id="prompt-text">{{ connected ? $tc('labels.quest') : $tc('labels.need') }}</p>
							<a class="zamp-button button-link" id="contact-button" target="_blank" href="https://zamp.com/platforms/shopware">{{ connected ? $tc('buttons.contact') : $tc('buttons.create') }}</a>
						</div>
					</div>
				</div>
			</header>

			<main class="zamp-page__content">
				<div class="zamp-api">
					<div class="zamp-card-wrapper">
						<div></div>
						<div class="zamp-api__card">
							{% block zamp_tabs %}

								<sw-tabs
									class="zamp-tabs"
									position-identifier="zamp-tax">
				
									{% block zamp_tabs_settings %}
										<sw-tabs-item
										:active="activeTab === 'settings'"
										name="settings"
										class="zamp-tabs__tab-settings"
										@click="onTabChange('settings')"
										>
											{{ $tc('tabs.settings') }}
										</sw-tabs-item>						
									{% endblock %}
				
									{% block zamp_tabs_historical_sync %}
										<sw-tabs-item
										:active="activeTab === 'historicalSync'"
										:disabled="!connected"
										name="historicalSync"
										class="zamp-tabs__tab-historical-sync"
										@click="onTabChange('historicalSync')"
										>
										{{ $tc('tabs.historicalSync') }}
										</sw-tabs-item>						
									{% endblock %}
				
									{% block zamp_tabs_error_logs %}
										<sw-tabs-item
										:active="activeTab === 'errorLogs'"
										:disabled="!connected"
										name="errorLogs"
										class="zamp-tabs__tab-error-logs"
										@click="onTabChange('errorLogs')"
										>
										{{ $tc('tabs.errorLogs') }}
										</sw-tabs-item>						
									{% endblock %}
								</sw-tabs>
							{% endblock %}

							{% block zamp_settings_form %}
							<template
							v-if="activeTab === 'settings'">
								<div class="zamp-api__card__header">
									<div class="zamp-api__card__titles">
										<div class="zamp-api__card__title">{{ $tc('cards.settings') }}</div>
									</div>
								</div>
								<div class="gray-divide"></div>
								<div class="zamp-api__card__content">
									<form action="" id="zamp-token-form">
										<div class="zamp-api-input-wrapper">
											<div class="zamp-field" :label="$tc('labels.token')">
												<div class="zamp-field-label">
													<label for="zamp-token-input">{{ $tc('labels.token') }}</label>
												</div>
												<div class="zamp-field-input">
													<input type="password" :placeholder="$tc('places.token')" maxlength="64" id="zamp-token-input" autocomplete="off">
												</div>
											</div>
										</div>
										<div class="zamp-button-wrapper">
											<button id="token-button" type="submit" class="zamp-button">{{ connected ? $tc('buttons.update') : $tc('buttons.connect') }}</button>
										</div>
										<small id="small-disclaimer-text">{{ connected ? $tc('disclaim.connected') : $tc('disclaim.disclaimer') }}</small>
									</form>

								</div>
								<div class="gray-divide"></div>
								<div class="zamp-api__card__content">
									<form action="" id="zamp-settings-form">
										<div class="zamp-state-input-wrapper">
											<div class="zamp-field" :label="$tc('labels.state')">
												<div class="zamp-select-input">
													<sw-multi-select
														v-model="selectedStates"
														:options="stateOptions"
														labelProperty="name"
														valueProperty="code"
														:placeholder="$tc('places.states')"
														:searchable="true"
														:multiple="true"
														:disabled="!connected"
													></sw-multi-select>
												</div>
											</div>
										</div>
										<div class="zamp-calc-input-wrapper">
											<div class="zamp-field" :label="$tc('switches.allow')">
												<div id="zamp-calc-input" class="zamp-calc-input">
													<sw-switch-field
														v-model="calcEnabled"
														:disabled="!connected"
														:label="$tc('switches.allow')"
													></sw-switch-field>
												</div>
											</div>
										</div>
										<div class="zamp-trans-input-wrapper">
											<div class="zamp-field" :label="$tc('switches.send')">
												<div id="zamp-trans-input" class="zamp-trans-input">
													<sw-switch-field
														v-model="transEnabled"
														:disabled="!connected"
														:label="$tc('switches.send')"
													></sw-switch-field>
												</div>
											</div>
										</div>

										<div class="zamp-button-wrapper">
											<button id="config-button" type="submit" :disabled="!connected" class="zamp-button">{{ $tc('buttons.save') }}</button>
										</div>
										
									</form>

								</div>
								<div class="gray-divide-last"></div>
							</template>	
							{% endblock %}

							{% block zamp_historical_sync_form %}
								<template
								v-if="activeTab === 'historicalSync'">
									<div class="zamp-api__card__header">
										<div class="zamp-api__card__titles">
											<div class="zamp-api__card__title">{{ $tc('cards.historicalSync') }}</div>
										</div>
									</div>
									<div class="gray-divide"></div>
									<div class="zamp-api__card__content">
										<form action="" id="historical-data-form" style="display: grid; grid-template-columns: 50% 1fr; grid-template-rows: auto auto; grid-column-gap: 16px; grid-template-areas: 'input input''button context';">
											<div class="zamp-sync-input-wrapper">
												<div class="zamp-field" :label="$tc('labels.start')">
													<div class="zamp-field-label">
														<label for="zamp-sync-start-input">{{ $tc('labels.start') }}</label>
													</div>
													<div class="zamp-field-input">
														<input style="outline: none; border: 0px; padding: 6px; width: 100%;" type="date" id="zamp-sync-start-input" min="2022-01-01" autocomplete="off">
													</div>
												</div>
											</div>
											<div class="zamp-sync-input-wrapper">
												<div class="zamp-field" :label="$tc('labels.end')">
													<div class="zamp-field-label">
														<label for="zamp-sync-end-input">{{ $tc('labels.end') }}</label>
													</div>
													<div class="zamp-field-input">
														<input style="outline: none;  border: 0px; padding: 6px; width: 100%;" type="date" id="zamp-sync-end-input" min="2022-01-01" autocomplete="off">
													</div>
												</div>
											</div>
											<div class="zamp-button-wrapper">
												<button id="sync-button" type="submit" class="zamp-button">{{ $tc('buttons.sync') }}</button>
												<small id="small-warning-text"></small>
											</div>
										</form>										
	
									</div>
									<div class="gray-divide"></div>
									<div class="zamp-api__card__content">
										<sw-data-grid
											:showSelection="false"
											:showActions="false"
											:dataSource="[
												{ id: 'syncRequested', status: $tc('status.request'), count: totalSyncRequested },
												{ id: 'syncRequested', status: $tc('status.complete'), count: totalSyncCompleted },
												{ id: 'syncExists', status: $tc('status.already'), count: totalSyncExists },
												{ id: 'syncUpdated', status: $tc('status.update'), count: totalSyncUpdated },
												{ id: 'syncRequested', status: $tc('status.fail'), count: totalSyncFailed }
												
											]"

											:columns="[
												{ property: 'status', label: $tc('status.stat')},
												{ property: 'count', label: $tc('status.count') }
											]">
										</sw-data-grid>
									</div>
									<div class="gray-divide-last"></div>
								</template>

							{% endblock %}

                            {% block zamp_logs_form %}
								<template
								v-if="activeTab === 'errorLogs'">
									<div class="zamp-api__card__header">
										<div class="zamp-api__card__titles">
											<div class="zamp-api__card__title">{{ $tc('cards.errorLogs') }}</div>
										</div>
									</div>
									<div class="gray-divide"></div>
									<div class="zamp-api__card__content">
										<form action="" id="zamp-logs-form" style="display: grid; grid-template-columns: 50% 1fr; grid-template-rows: auto auto; grid-column-gap: 16px; grid-template-areas: 'input input' 'button button';">
											<div class="zamp-logs-input-wrapper">
												<div class="zamp-field" :label="$tc('labels.date')">
													<div class="zamp-field-label">
														<label for="zamp-logs-date-input">{{ $tc('labels.date') }}</label>
													</div>
													<div class="zamp-field-input">
														<input style="outline: none; border: 0px; padding: 6px; width: 100%;" type="date" id="zamp-logs-date-input" min="2022-01-01">
													</div>
												</div>
											</div>
											<div class="zamp-logs-input-wrapper">

											</div>
											<div class="zamp-button-wrapper">
												<button id="logs-button" type="submit" class="zamp-button">{{ $tc('buttons.get') }}</button>
												<small id="small-logs-text"></small>
											</div>
                                            <div class="zamp-button-wrapper">
                                                <button id="logs-down-button" type="button" class="zamp-button">{{ $tc('buttons.down') }}</button>
                                                <pre style="display: none; width: 0px; height: 0px;" id="small-logs-down-text"></pre>
                                            </div>
											
										</form>										
                                        
									</div>

                                    <hr/>

									<div class="zamp-api__card__content" id="logs-ui">
										
									</div>
                                    
									<div class="gray-divide-last"></div>
								</template>

							{% endblock %}
													
						</div>
						<div></div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
